.bhub {
    display: flex;
    width: 20vh;
    height: 4.5vh;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    margin-top: -115.5em;
    margin-left: 14em;
    text-decoration: none;
    color: red;
    font-size: 110%;
    align-items: center;
    justify-content: center;
    font-family: Impact;
    transition: 0.2s ease-in-out;
}
.bhub img{
 width: 4vh;
 height: 4vh;
}
.bhub button{
    visibility: hidden;
}
@font-face {
    font-family: "Impact";
    font-style: normal;
    font-weight: normal;
    src: url("impact.ttf");
}
.bhub:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}